
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center mt-md-3">
            <h2>Opciones</h2> 
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="text-center mt-md-3 options">
            <a class="option-item" asp-controller="Libro" asp-action="ShowBooks">Mostrar libros</a>
        </div>

        <div class="text-center mt-md-3 options options2">
            <a class="option-item" asp-controller="Libro" asp-action="Add">Agregar libro</a>
        </div>
    </div>
</div>